<!-- <div *ngFor="let thing of pokemon | keyvalue">
<p>{{thing.key}}{{thing.value}}</p>
</div> -->
<input type="text" [(ngModel)]="pokeName">
<button (click)="updatePokemon()">Get Pokemon Info</button>
<br>
<img src={{pokemon.sprites.front_default}}>
<br>
<h1>{{pokemon.name}}</h1>
<p>Abilities:</p>
<ul style="list-style-type: disk;">
    <li style="display: inline; margin: 10px; color: red;" *ngFor="let ability of pokemon.abilities">{{ability.ability.name}}</li>
</ul>
<p>Moves:</p>
<ul>
    <li style="display: inline; margin: 10px; color: orangered;" *ngFor="let move of pokemon.moves">{{move.move.name}}</li>
</ul>
