<div class="fightContainer">
    <div class="pokemonContainer">
    <img src={{pokemon1.sprites.front_default}}>
    <br>
    <h1>{{pokemon1.name}}</h1>
    <p><span class="health">{{pokemon1Health}}</span> HP</p>
    <div *ngIf="!gameover">
    <button (click)="attack()" [disabled]="!playerTurn">Attack</button>
    <button (click)="block()" [disabled]="!playerTurn">Block</button>
    </div>
</div>
<br>
    <div class="pokemonContainer">
    <img src={{pokemon2.sprites.front_default}}>
    <br>
    <h1>{{pokemon2.name}}</h1>
    <p><span class="health">{{pokemon2Health}}</span> HP</p>
    </div>
</div>
<app-game-over *ngIf="gameover" [won]='won' (restart)="onRestart()"></app-game-over>
